.leftMenu {
    z-index: 1000;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'dymaxon', sans-serif;
    font-weight: normal;
    font-size: 50px;

}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    text-align: center;
    margin-left: 55px;

}

ul li {
    display: inline-block;
    align-self: center;
    margin-left: 120px;
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
}

.rightSide {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    /*margin-left: 170px;*/
}

.lang {
    position: relative;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.profileBack {
    width: 105px;
    height: 50px;
    background: #0f202b;
    position: relative;

}
.profileText{
    padding-left: 7px;
}

.profileLogin {
    display: flex;
    width: 50px;
    height: 50px;
    /* background: url(...); */
    border: 1px solid rgba(170, 120, 186, 0.2);
    filter: drop-shadow(0px 2px 8px #a574b4);
    border-radius: 50px;
    cursor: pointer ;
    object-fit: cover;
}
.menuButtons{
    display: flex;
    gap: 40px;
    align-items: center;
}
.navItem{
    color: rgba(255, 255, 255, 0.80);
    font-family: Nunito Sans, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}
.navButton{
    border-radius: 18px;
    border: 0.5px solid #FFF;
    background: rgba(255, 255, 255, 0.05);
    padding: 13px 25px;

    color: #FFF;
    text-align: center;
    font-family: Nunito Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    transition: 0.5s all ease;
}

/*.navItem:hover::before{*/
/*    transform: scaleX(1);*/
/*    transition: transform 0.5s;*/
/*    !*width: 126px;*!*/
/*    !*height: 1px;*!*/
/*    !*background: linear-gradient(rgba(158, 199, 247, 0.21) 0%, rgba(99, 181, 209, 0.46) 22.17%, #fff 50.73%, rgba(181, 76, 213, 0.67) 78.82%, rgba(159, 188, 227, 0.65) 100%);*!*/
/*    !*filter: drop-shadow(0px 2px 20px rgba(143, 188, 242, 0.99));*!*/
/*}*/
/*.navItem::before{*/
/*    content: '';*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    padding: 1px;*/
/*    background: linear-gradient(rgba(158, 199, 247, 0.21) 0%, rgba(99, 181, 209, 0.46) 22.17%, #fff 50.73%, rgba(181, 76, 213, 0.67) 78.82%, rgba(159, 188, 227, 0.65) 100%);*/
/*    filter: drop-shadow(0px 2px 2px rgba(143, 188, 242, 0.1));*/

/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: -8px;*/
/*    transform: scaleX(0);*/
/*    transition: transform 0.5s;*/
/*    transform-origin: center;*/
/*    border-radius: 5px;*/
/*}*/
.active{
    transition: transform 0.5s;
}
.active::before{
    content: '';
    width: 100%;
    height: 1px;
    padding: 1px;
    background: linear-gradient(rgba(158, 199, 247, 0.21) 0%, rgba(99, 181, 209, 0.46) 22.17%, #fff 50.73%, rgba(181, 76, 213, 0.67) 78.82%, rgba(159, 188, 227, 0.65) 100%);
    filter: drop-shadow(0px 2px 2px rgba(143, 188, 242, 0.1));

    position: absolute;
    left: 0;
    bottom: -8px;
    transform: scaleX(1);
    transition: transform 0.5s;

    transform-origin: center;
    border-radius: 5px;
}
.currency{
    margin-left: 4px;
    margin-right: 2px;
}
.notification{
    position: relative;
}
.notificationVar{
    position: absolute;
    top: 34px;
    right: -2px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50px;
    background: #ad2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification h3{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
}
.notificationVarInDropdownItem{
    position: absolute;
    top: 5px;
    right: 48px;
    text-align: center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 20px;
    background: #ad2e2e;
    filter: drop-shadow(0px 2px 30px rgba(222, 25, 0, 0.4));

}
.notificationVarInDropdownItem h3{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.menu{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}