.leftMenu {
    z-index: 1000;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'dymaxon', sans-serif;
    font-weight: normal;
    font-size: 3.7vw;
}

.logo img {
    /*width: 3.333vw;*/
    height: 2.5vw;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    text-align: center;
    margin-left: 55px;

}

ul li {
    display: inline-block;
    align-self: center;
    margin-left: 120px;
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
}

.rightSide {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    /*margin-left: 170px;*/
}

.lang {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    border: 1px solid rgba(233, 233, 233, 0.05);
    height: 2.8vw;
    width: 3.3vw;
    margin: 0;
    cursor: pointer;
    background: transparent;
    text-transform: uppercase;


    color: #FFF;
    text-align: center;
    font-family: Onest, sans-serif;
    /*font-size: clamp(12px, 1.05vw, 16px);*/
    font-size: 0.85vw;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;

}

.lang:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
}

.search {
    width: 12vw;
    height: 2.8vw;
    border-radius: 1em;
    border: 1px solid rgba(233, 233, 233, 0.05);
    display: flex;
    align-items: center;
    gap: 0.875em;
    padding-left: 18px;

    color: rgba(255, 255, 255, 0.50);
    font-family: Onest, sans-serif;
    /*font-size: 1.05vw;*/
    /*font-size: clamp(12px, 1.05vw, 16px);*/
    font-size: 0.85vw;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

.search img {
    width: 1em;

}

.profileBack {
    width: 105px;
    height: 50px;
    background: #0f202b;
    position: relative;

}

.profileText {
    color: #FFF;
    text-align: center;
    font-family: Onest, sans-serif;
    /*font-size: clamp(12px, 1.05vw, 16px);*/
    font-size: 0.85vw;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}

.profileLogin {
    display: flex;
    width: 2.6vw;
    height: 2.6vw;
    /* background: url(...); */
    border: 1px solid rgba(170, 120, 186, 0.2);
    /*filter: drop-shadow(0px 2px 8px #a574b4);*/
    border-radius: 2.6vw;
    cursor: pointer;
    object-fit: cover;
}

.menuButtons {
    display: flex;
    gap: 0.9375em;
    align-items: center;

}

.navItem {
    color: rgba(255, 255, 255, 0.80);
    font-family: Nunito Sans, serif;
    /*font-size: clamp(12px, 1.05vw, 16px);*/
    font-size: 0.85vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.navButton {
    border-radius: 18px;
    border: 0.5px solid #FFF;
    background: rgba(255, 255, 255, 0.05);
    padding: 13px 25px;

    color: #FFF;
    text-align: center;
    font-family: Nunito Sans, sans-serif;
    font-size: 0.85vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    transition: 0.5s all ease;
}

/*.navItem:hover::before{*/
/*    transform: scaleX(1);*/
/*    transition: transform 0.5s;*/
/*    !*width: 126px;*!*/
/*    !*height: 1px;*!*/
/*    !*background: linear-gradient(rgba(158, 199, 247, 0.21) 0%, rgba(99, 181, 209, 0.46) 22.17%, #fff 50.73%, rgba(181, 76, 213, 0.67) 78.82%, rgba(159, 188, 227, 0.65) 100%);*!*/
/*    !*filter: drop-shadow(0px 2px 20px rgba(143, 188, 242, 0.99));*!*/
/*}*/
/*.navItem::before{*/
/*    content: '';*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    padding: 1px;*/
/*    background: linear-gradient(rgba(158, 199, 247, 0.21) 0%, rgba(99, 181, 209, 0.46) 22.17%, #fff 50.73%, rgba(181, 76, 213, 0.67) 78.82%, rgba(159, 188, 227, 0.65) 100%);*/
/*    filter: drop-shadow(0px 2px 2px rgba(143, 188, 242, 0.1));*/

/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: -8px;*/
/*    transform: scaleX(0);*/
/*    transition: transform 0.5s;*/
/*    transform-origin: center;*/
/*    border-radius: 5px;*/
/*}*/
.active {
    transition: transform 0.5s;
}

.active::before {
    content: '';
    width: 100%;
    height: 1px;
    padding: 1px;
    background: linear-gradient(rgba(158, 199, 247, 0.21) 0%, rgba(99, 181, 209, 0.46) 22.17%, #fff 50.73%, rgba(181, 76, 213, 0.67) 78.82%, rgba(159, 188, 227, 0.65) 100%);
    filter: drop-shadow(0px 2px 2px rgba(143, 188, 242, 0.1));

    position: absolute;
    left: 0;
    bottom: -8px;
    transform: scaleX(1);
    transition: transform 0.5s;

    transform-origin: center;
    border-radius: 5px;
}

.currencyContainer {
    display: flex;
    align-items: center;
    height: 2.1875rem;
    padding: 0 0.5rem;
    justify-content: center;
    gap: 0.3125rem;
    border-radius: 0.75rem;
    background: rgba(106, 106, 118, 0.12);
    backdrop-filter: blur(10px);
}

.currency {
    margin-left: 4px;
    margin-right: 2px;

    color: #77EF19;
    font-family: Onest, sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
}

.notification {
    position: relative;
}

.notificationVar {
    position: absolute;
    top: 34px;
    right: -2px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50px;
    background: #ad2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification h3 {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
}

.notificationVarInDropdownItem {
    position: absolute;
    top: 5px;
    right: 48px;
    text-align: center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 20px;
    background: #ad2e2e;
    filter: drop-shadow(0px 2px 30px rgba(222, 25, 0, 0.4));

}

.notificationVarInDropdownItem h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.menu {
    width: 93.5%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.5vw;
}

.menuButtonsLeft {
    display: flex;
    justify-content: center;
    gap: 3.125em;
}

.navItemLeft {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Onest, sans-serif;
    /*font-size: clamp(12px, 1.05vw, 16px);*/
    font-size: 0.85vw;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 23.2px */
}

@media screen and (max-width: 1000px) {
    .menuButtonsLeft {
        display: none;
    }

    .menuButtons {
        display: none;
    }

    .logo img {
        height: 2rem;
    }
}

@media (max-width: 1000px) {
    .menuButtonsLeft {
        display: none;
    }

    .searchIcon {
        display: flex;
        align-items: center;
        margin-left: 1.5rem;
        width: 1.25rem;
        height: 1.25rem;
    }
}

/* Показать меню и скрыть иконку поиска при ширине экрана >= 1000px */
@media (min-width: 1000px) {
    .menuButtonsLeft {
        display: flex;
    }

    .searchIcon {
        display: none;
    }
}

.burgerIcon {
    display: none;
}

.dropdownLang {
    position: relative;

}

.dropdownLangMenu {
    position: absolute;

    height: 10.46875vw;
    border-radius: 1.04vw;
    background: #030304;
    backdrop-filter: blur(12px);
    z-index: 1;
    margin: 0;
    right: 30%;
    top: 115%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 9.16vw;

    font-family: Onest, sans-serif;
    /*font-size: 1.125rem;*/
    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.dropdownLangMenu li {
    margin: 0;
    width: 100%;
}
.dropdownLangMenu li:first-child {
    margin-top: 0.729vw;
}

.dropdownLangMenu li button {
    text-decoration: none;
    display: flex;
    color: #D9D9D9;
    padding: 0.833vw;
    font-size: 0.9375vw;
    gap:0.52vw;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 100%;

}

.dropdownLangMenu li:hover {
    background: rgba(106, 106, 118, 0.12);
}

@media (max-width: 1000px) {
    .burgerIcon {
        display: inline-flex;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        border: 1px solid rgba(233, 233, 233, 0.05);
        background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(8px);
    }
}
