:root {
  --Main-Background: linear-gradient(196deg, #341010 -10.52%, #0C1826 -1.38%, #000 26.76%);
  --Black-Color: #000;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: var(--Main-Background) var(--Black-Color);
  background-size: cover;
  background-repeat: no-repeat;

}
@font-face {
  font-family: 'dymaxon';
  src: url('../fonts/Dymaxion scriptС.ttf') format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar {
  width: 11px;               /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: #272727;        /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(21, 20, 20, 0.93);    /* цвет бегунка */
  border-radius: 20px;       /* округлось бегунка */
  border: 3px solid #272727;  /* отступ вокруг бегунка */
}
@media (prefers-reduced-motion: no-preference) {
  :root{
    scroll-behavior: smooth;
  }
}
