.container{
    font-family: Nunito, sans-serif;
    height: 100vh;
    text-align: center;
    background-color: #000;
    padding-top: 50px;
}
.container h1{
    color: #FFF;
    text-align: center;
    font-family: Onest, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}
.concept{
    height: 90%;
    border-radius: 12px;
    background: #0f0f0f;
    margin-left: 1.5%;
    margin-right: 1.5%;
    display: flex;

}
.defaultService{
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-top: 30px;

    align-items: center;
}
.defaultService img{
    width: 80%;
}
.streamService{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.streamService img{
    height: 90%;
}
.session{
    width: 80%;
    margin: 50px auto;
}
.session img{
    width: 650px
}