
.name {
    color: #FFF;
    font-family: Onest, sans-serif;
    font-size: 2vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.nameTag {
    color: #829FCA;
    font-family: Onest, sans-serif;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.edit {
    position: absolute;
    right: 3vw;
    bottom: 1.875vw;

}

.topGames {
    position: absolute;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 12.5vw;
    z-index: 50;
}

.topGames img {
    width: 9.375vw;
    height: 12.5vw;
    border-radius: 0.625vw;
    transition: transform 0.5s ease; /* добавлен переход для плавного эффекта */
}

.darkGameLeft,
.darkGameRight {
    position: relative;
    z-index: 1;
    display: flex;
}

.darkGameLeft img,
.darkGameRight img {
    opacity: 0.5;
    transform: scale(0.95);
    transition: 0.5s ease;
}

.centerGame {
    z-index: 10;
    order: 2;
}

.darkGameRight {
    order: 1;
    transition: 0.5s ease;
    transform: translateX(90px);
}

.darkGameLeft {
    order: 3;
    transition: 0.5s ease;
    transform: translateX(-90px);
}

/* Добавлены стили для поворота при наведении */
.centerGame:hover ~ .darkGameLeft {
    transition: 0.5s ease;
    transform: translateX(-60px) rotate(3deg);
}

.centerGame:hover ~ .darkGameRight {
    transition: 0.5s ease;
    transform: translateX(60px) rotate(-3deg);
}

.centerGame:hover ~ .darkGameLeft img,
.centerGame:hover ~ .darkGameRight img {
    opacity: 0.85;
    transition: 0.5s ease;
}

.headerInfo {
    position: relative;
    height: 23.4375vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.profileImage {
    margin-left: 5.46vw;
    transition: 0.3s all ease;
}

.profileImage div {
    border-radius: 11.45vw;
    /*filter: drop-shadow(0px 2px 8px #a574b4);*/
}

.profileImage canvas {
    border-radius: 11.45vw;
    transition: 0.3s all ease;
    margin: 8px !important;
}

.profileImage img {
    transition: 0.3s all ease;
}

.headerDescription p {
    margin: 0 0 0 5.677vw;
}

.name {
    margin-top: 1.5625vw !important;
}

.nameTag {
    margin-top: 0.57vw !important;
}

.connectContainer {
    position: absolute;
    bottom: 2.08vw;
    left: 26vw;
    background: #1441DF;
    border-radius: 1.875vw;
}

.connect {
    color: #FFF;
    text-align: center;
    font-family: Onest, sans-serif;
    font-size: 0.78125vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.75px;
    width: 8.3333vw;
    height: 2.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBackground {
    background: black;
}

.content {
    position: relative;
    width: 88%;
    margin: 5.2vw auto 0;
    height: 20.8vw;
}

.descContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    position: relative;
    /*background: rgba(58, 45, 66, 0.75);*/

}

.shiningBackground {
    position: absolute;
    z-index: 555;
}

.shining {
    position: absolute;
    width: 26.9vw;
    height: 26.9vw;
    border-radius: 26.9vw;
    background: rgba(12, 24, 38, 0.75);
    filter: blur(150px);
    z-index: 2;
}

.spotlight {
    position: relative;

}

.smallBio {
    display: flex;
    gap: 1.354vw;
}

.smallBioItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 6.25vw;
    height: 6.25vw;
    border-radius: 0.73vw;
    background: rgba(255, 255, 255, 0.05);
}

.achievements {
    width: 8.85vw !important;

}

.achievements p {
    margin-top: 2px !important;
}

.smallBioItem h4 {
    text-align: center;
    font-family: Onest, sans-serif;
    font-size: 1.66vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: linear-gradient(201deg, #FFF 4.92%, #603E76 86.12%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 0.52vw;
}

.smallBioItem p {
    margin: 0;
    color: #FFF;
    font-family: Onest, sans-serif;
    font-size: 0.83vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.smallBioItem img {
    width: 2.5vw;
}

.infoBio {

}

.infoBio h3 {
    color: #FFF;
    font-family: Onest, sans-serif;
    font-size: 1.5625vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin: 1.5625vw 0 0;
}

.infoBio p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Onest, sans-serif;
    font-size: 1.145vw;
    font-style: normal;
    font-weight: 300;
    line-height: 135%; /* 32.4px */
    margin-top: 0.885vw;
    margin-bottom: 1.5625vw;
}

.langBio {
    display: flex;
    gap: 0.52vw;
}

.langBioItem {
    padding: 0.52vw 0.78125vw;
    border-radius: 0.729vw;
    background: rgba(255, 255, 255, 0.05);
}

.langBioItem p {
    margin: 0;
    color: #FFF;
    font-family: Nunito Sans, sans-serif;
    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}

.spotlight h3 {
    margin: 0;
    color: #FFF;
    font-family: DymaxionScript, sans-serif;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 0 0 8px #FFF;
    position: absolute;
    top: -4.5vw;
}

.categories {
    display: flex;
    gap: 0.52vw;
    margin-top: 0.78125vw;
}

.categoriesItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.52vw 0.78125vw;
    border-radius: 0.729vw;
    background: #141414;
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0);
}

.categoriesItem:hover {
    border: 1px solid #FFF;
    transition: all 0.3s ease;
}

.categoriesItem p {
    margin: 0;
    color: #FFF;
    font-family: Onest, sans-serif;
    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}

.active {
    border: 1px solid #FFF;
    transition: all 0.3s ease;
}

.categoryContent {
    display: flex;
    gap: 0.26vw;
    flex-wrap: wrap;
    width: 26vw;
    margin-top: 1.82vw;
}

.categoryContentItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5vw;
    height: 5.46875vw;
    border-radius: 0.41vw;
    background: #0F0F0F;
    backdrop-filter: blur(10px);
    text-overflow: ellipsis;
    cursor: pointer;
}

.categoryContentItem img {
    width: 3.333vw;
    height: 4.42vw;
    border-radius: 2px;
}

.categoryContentItem canvas {
    border-radius: 2px;
}

.categoryContentItem p {
    overflow: hidden;
    color: #8F8F8F;
    text-overflow: ellipsis;
    font-family: Nunito Sans, sans-serif;
    font-size: 0.625vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 5.2vw;
    white-space: nowrap;
    margin: 0 0 0.2vw 0.625vw;
}

.categoryContentItem h4 {
    margin: 0 0 0 0.625vw;
    overflow: hidden;
    color: #FFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Nunito Sans, sans-serif;
    font-size: 1.04vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 7.5vw;
}

.shiningBackground2 {
    position: absolute;
    z-index: 10;
    right: 5%;
}

.shining2 {
    position: absolute;
    width: 24vw;
    height: 24vw;
    background: rgba(181, 209, 251, 0.15);
    filter: blur(200px);
    z-index: 2;
    right: 5%;
    top: -30%;

}

.beforePlayer {
    margin-top: 3.64vw;
}

.afterPlayer {
    padding: 2.6vw;
}

.secondBlockContainer {
    min-height: 50vh;
    background: black;
    color: white;
    width: 100%;
}

.secondBlock {
    width: 88%;
    margin: 0 auto;
    display: flex;
    gap: 20vw;
}

.activity h3 {
    color: #FFF;
    font-family: Onest, sans-serif;
    font-size: 1.66vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin: 1.82vw 0 1.82vw;
}

.activityHeader {

}

.activityItems {
    display: flex;
    flex-wrap: wrap;
    gap: 1.822vw;
    width: 41.66vw;

}

.activityItems canvas {
    border-radius: 0.625vw;
}

.activityItems img {
    width: 11.25vw;
    height: 16.875vw;
}

.friends {

}

.friendsList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.friendsLogo {
    width: 10.41vw;
    margin-bottom: 1.3vw;
}

.friendsIco {
    width: 4vw;
    height: 4vw;
}

.friendItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.friendInfo h4 {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: Onest, sans-serif;
    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 26.1px */
    text-transform: capitalize;
}

.friendInfo p {
    margin: 0;
    color: #829FCA;
    text-align: center;
    font-family: Onest, sans-serif;
    font-size: 0.7291vw;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
    text-transform: capitalize;
}

.x {
    height: 26vw;
    background: black;
}

/*.x h2 {*/
/*    margin: 0;*/
/*    padding-top: 100px;*/
/*    padding-left: 100px;*/
/*    padding-bottom: 300px;*/
/*    color: #FFF;*/
/*    font-family: Onest, sans-serif;*/
/*    font-size: 32px;*/
/*    font-style: normal;*/
/*    font-weight: 600;*/
/*    line-height: normal;*/
/*    text-transform: capitalize;*/
/*}*/

/*.profileContainer {*/

/*}*/

/*@media only screen and (min-width: 1200px) {*/
/*    .profileContainer {*/
/*        transform: scale(0.85) !important;*/
/*    }*/
/*}*/
/*@media only screen and (min-width: 1920px) {*/
/*    .profileContainer {*/
/*        transform: scale(0.8);*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 1366px) {*/
/*    .profileContainer {*/
/*        transform: scale(0.55);*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 1300px) {*/
/*    .profileContainer {*/
/*        transform: scale(0.55) !important;*/
/*    }*/
/*}*/
