.modelProfileBackground {
    /*background: linear-gradient(196deg, #341010 -10.52%, #3A2D42 -1.38%, #000 26.76%);*/
}

.profile {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.header {
    background: url("../../../public/profile/host-background.jpg") center no-repeat;
    background-size: cover;
    height: 38.28125vw;
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 1.25vw;
}

.mask {
    width: 100%;
    background: linear-gradient(0deg, #000 20%, rgba(0, 0, 0, 0.00) 93%);
    height: 18.22vw;
    z-index: 500;
}

.mask2 {
    position: absolute;
    height: 26vw;
    /*background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);*/

    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 18vw;
}

.profileContainer {
    display: flex;
    align-items: flex-end;
}

.description {
    position: relative;
    margin-top: 1.5vw;
}

.name {
    color: #FFF;
    font-family: Onest, sans-serif;
    font-size: 1.875vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0.78125vw 0.1vw 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.description img {
    width: 1.3vw !important;
    height: 1.3vw !important;
    margin-top: 0.1vw;
}

.bio {
    color: #829FCA;
    font-family: Onest, sans-serif;
    font-size: 1.1458vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin: 0.52vw 0.1vw 0;
}

.profileContainer {
    position: absolute;
    margin-top: 13.8vw;
    left: 2.6vw;

}

.profileInfo {
    justify-content: flex-start;
    width: 100%;
}

.profilePhoto {

}

.profileInfo img {
    width: 14.21875vw;
    height: 21.35vw;
    border-radius: 0.9375vw;

}

.lang {
    font-family: Nunito, sans-serif;
    font-weight: normal;
    font-size: 0.729vw;
    color: #8d8e93;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    position: absolute;
    margin-top: 1.5625vw;
    width: 26vw;
}

.lang span {
    color: white;
}

.edit {
    position: absolute;
    right: -57.29vw;
    top: 0;
}

.secondButton {
    border: none;
    width: 13vw;
    height: 2.6vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.04vw auto 0;
    border-radius: 20px;
    background: #FFF;

    color: #000;
    text-align: center;
    font-family: Nunito Sans, sans-serif;
    font-size: 1.04vw;
    font-style: normal;
    font-weight: 800;
    line-height: 145%; /* 29px */
    text-transform: capitalize;
}

.connectContainer {
    position: absolute;
    bottom: 2vw;
    left: 11.5vw;
}
.favourite{
    position: absolute;
    bottom: 2vw;
    left: 22.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.041vw;
    padding: 0.677vw;
    background: rgba(106, 106, 118, 0.12);
    backdrop-filter: blur(12px);
    cursor: pointer;
 }
.favourite img{
    width: 1.354vw;
    height: 1.354vw
}

.connect {
    display: flex;
    width: 10.26vw;
    height: 2.6vw;
    justify-content: center;
    align-items: center;
    gap: 0.52vw;
    border-radius: 1.04vw;
    background: #FFF;
    text-align: center;
    font-family: Onest, serif;
    font-size: 0.83vw;
    font-style: normal;
    font-weight: 500;
    color: #0C1826;
}

.content {
    position: relative;
    width: 88%;
    /*margin-top: 1.25vw;*/
}

.descContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    position: relative;
    /*background: rgba(58, 45, 66, 0.75);*/

}

.shiningBackground {
    position: absolute;
    z-index: 555;
}

.shining {
    position: absolute;
    width: 26.92vw;
    height: 26.92vw;
    border-radius: 26.92vw;
    background: rgba(58, 45, 66, 0.75);
    filter: blur(150px);
    z-index: 2;
}

.spotlight {
    position: relative;

}

.smallBio {
    display: flex;
    gap: 1.35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 120%);
}

.smallBioItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 6.25vw;
    height: 6.25vw;
    border-radius: 0.729vw;
    /*background: rgba(255, 255, 255, 0.05);*/
    background: rgba(4, 5, 6, 0.60);
    backdrop-filter: blur(12px);
}

.achievements {
    width: 8.85vw !important;
}

.achievements p {
    margin-top: 0.1vw !important;
}

.smallBioItem h4 {
    text-align: center;
    font-family: Onest, sans-serif;
    font-size: 1.66vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: linear-gradient(201deg, #FFF 4.92%, #603E76 86.12%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 0.52vw;
}

.smallBioItem p {
    margin: 0;
    color: #FFF;
    font-family: Onest, sans-serif;
    font-size: 0.83vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.smallBioItem img {
    width: 2.5vw;
}

.infoBio {

}

.infoBio h3 {
    color: #FFF;
    font-family: Onest, sans-serif;
    font-size: 1.5625vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin: 1.5625vw 0 0;
}

.infoBio p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Onest, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 135%; /* 32.4px */
    margin-top: 17px;
    margin-bottom: 1.5625vw;
}

.langBio {
    display: flex;
    gap: 0.52vw;
}

.langBioItem {
    padding: 0.52vw 0.78125vw;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.05);
}

.langBioItem p {
    margin: 0;
    color: #FFF;
    font-family: Nunito Sans, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}

.spotlight h3 {
    margin: 0;
    color: #FFF;
    font-family: DymaxionScript, sans-serif;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 0 0 8px #FFF;

}

.categories {
    display: flex;
    gap: 0.52vw;
    margin-top: 0.78125vw;
}

.categoriesItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.52vw 0.78125vw;
    border-radius: 0.729vw;
    background: #141414;
    backdrop-filter: blur(10px);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0);
}

.categoriesItem:hover {
    border: 1px solid #FFF;
    transition: all 0.3s ease;
}

.categoriesItem p {
    margin: 0;
    color: #FFF;
    font-family: Onest, sans-serif;
    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}

.active {
    border: 0.5px solid #FFF;
}

.categoryContent {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    width: 26vw;
    margin-top: 1.82vw;
}

.categoryContentItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5vw;
    height: 5.46875vw;
    border-radius: 0.41vw;
    background: #0F0F0F;
    backdrop-filter: blur(10px);
    text-overflow: ellipsis;
}

.categoryContentItem img {
    width: 3.33vw;
    height: 4.42vw;
    border-radius: 2px;
}

.categoryContentItem p {
    overflow: hidden;
    color: #8F8F8F;
    text-overflow: ellipsis;
    font-family: Nunito Sans, sans-serif;
    font-size: 0.625vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 5.2vw;
    white-space: nowrap;
    margin: 0 0 0.2vw 0.625vw;
}

.categoryContentItem h4 {
    margin: 0 0 0 0.625vw;
    overflow: hidden;
    color: #FFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Nunito Sans, sans-serif;
    font-size: 1.041vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 7.5vw;
}

.shiningBackground2 {
    position: absolute;
    z-index: 10;
    right: 5%;
}

.shining2 {
    position: absolute;
    width: 29.21875vw;
    height: 29.21875vw;
    background: rgba(181, 209, 251, 0.15);
    filter: blur(200px);
    z-index: 2;
    right: 5%;

}

.beforePlayer {
    margin-top: 3.64vw;
}

.afterPlayer {
    padding: 2.60vw;
}
