.header {
    padding-top: 10px;
    height: calc(100vh - 5.5vw);
    width: 100%;
    /*background-image: url("../../../../public/home-background.png");*/
    background: url("../../../../public/home/background.jpg") center;
    background-size: cover;
    color: white;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 2rem;
}

.headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.headMessage {
    text-align: center;
    font-family: "Montserrat", serif;
    font-size: 3.33vw;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 64px */
    font-feature-settings: "ss01";
    -webkit-font-feature-settings: "ss01";
    -moz-font-feature-settings: "ss01";
    -ms-font-feature-settings: "ss01";
    -o-font-feature-settings: "ss01";
    margin: 0;
    padding: 0;
    margin-top: 3vw;
    width: 40.8vw;

}

.underHeadMessage {
    width: 19.1vw;
    margin: 0 auto;
    padding: 0;
    margin-top: 1em;
    text-align: center;

    /* Text & Caption */
    font-family: Onest, sans-serif;
    font-size: 0.83vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.playButton {
    display: inline-flex;
    width: 7.5vw;
    height: 2.7vw;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    flex-shrink: 0;
    border-radius: 1rem;
    border: 1px solid rgba(233, 233, 233, 0.05);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(8px);
    margin-top: 2em;
    font-size: 0.83vw;
    font-family: Onest, sans-serif;
    font-weight: 500;
    line-height: 145%;
}

.playButton img{
    width: 0.83vw;
}
.left {
    position: absolute;
    left: 33.5%;
    top: 43.5%;
    width: 5.1vw;
    height: 3vw;
    backdrop-filter: blur(10px);
    margin: 0;
    padding: 0  ;
    border-radius: 1.2rem;
    transform: rotate(10deg);
}

.right {
    position: absolute;
    right: 32.5%;
    top: 38%;
    width: 5.1vw;
    height: 3vw;
    backdrop-filter: blur(10px);
    margin: 0;
    padding: 0  ;
    border-radius: 1.2rem;
    transform: rotate(-10deg);
}

@media screen and (max-width: 1000px) {
    .header {
        padding-top: 10px;
        height: calc(100vh - 5.5vw);
        background: url("../../../../public/home/background-mobile.jpg") center;
        background-size: cover;
        border-radius: 2rem;
    }
    .headMessage{
        font-size: 1.75rem;
        margin-top: 3.5rem;
    }
    .underHeadMessage{
        font-size: 1rem;
        width: 16rem !important;
        font-weight: 400;
    }
    .playButton{
        width: 9rem;
        height: 3.125rem;
        font-size: 1rem;
        font-weight: 400;
    }
    .playButton img{
        width: 1rem;
        height: 1rem;
    }
    /*.right{*/
    /*    width: 3.875rem;*/
    /*    height: 2.1875rem;*/
    /*    border-radius: 0.75rem;*/
    /*    right: 13%;*/
    /*    top: 53%;*/
    /*}*/
    /*.left{*/
    /*    width: 3.875rem;*/
    /*    height: 2.1875rem;*/
    /*    border-radius: 0.75rem;*/
    /*    left: 15%;*/
    /*    top: 58%;*/
    /*}*/
    .right{
        display: none;
    }
    .left{
        display: none;
    }
}
