.header {
    margin-top: 100px;
    height: 90vh;
    background-color: #0F0F0F;
    border-radius: 32px;
    color: white;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title {
    font-size: 48px;
    margin-left: 5%;
    font-weight: bold;
}


.content {
    display: flex;
    margin: auto 0;
    gap: 70px;

}
.greetings{
    /*display: flex;*/
    flex:1;
}
.greetings h1{
    font-weight: 600;
    font-size: 60px;
    text-align: left;
    max-width: 700px;

}
.cardPosition {
    display: flex;
    flex: 1;

}
.logo{
    font-family: 'dymaxon', sans-serif;
    font-weight: normal;
}
.firstCard{
}
.secondCard{

}