/* Form.module.css */

.formContainer {
    background-color: #000; /* Black background */
    padding: 1.04vw;
    border-radius: 0.52vw;

    color: #fff; /* White text */
}

.labelUsername {
    position: relative;

}

.resultUsername {
    position: absolute;
    /*top: -0.885vw;*/
    /*right: 0.78125vw;*/
    top: 50%;
    right: -15%;
    transform: translate(-50%, -50%);
}

.userCheckBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.88vw;
}
.userCheckBlock img{
    width: 1.6vw;
    height: 1.6vw;
}

.taken {
    color: #FF6565;
    text-align: center;
    font-family: Onest, sans-serif;
    font-size: 0.83vw;
    font-style: normal;
    font-weight: 300;
    line-height: 145%;
}

.free {
    color: #AAFFAD;
    text-align: right;
    font-family: Onest, sans-serif;
    font-size: 0.83vw;
    font-style: normal;
    font-weight: 300;
    line-height: 145%;

}

.inputField {
    border: 1px solid #ccc;
    color: #fff;
    width: 26.5625vw;
    height: 3.385vw;
    flex-shrink: 0;
    border-radius: 1.04vw;
    border: 1px solid rgba(233, 233, 233, 0.05);
    background: rgba(233, 233, 233, 0.05);

    color: rgba(255, 255, 255, 0.60);
    font-family: Onest, sans-serif;
    font-size: 1.04vw;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    padding-left: 0.83vw;

}

.genderSelector {
    display: flex;
    justify-content: space-between;

}

.genderButton {
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 11.5625vw;
    height: 1.77vw;
    align-self: stretch;
    border-radius: 1.04vw;
    padding: 0.83vw;
    margin: 0.41vw;
    background: rgba(170, 255, 173, 0.05);

    color: rgba(255, 255, 255, 0.60);
    font-family: Onest, sans-serif;
    font-size: 1.04vw;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 29px */
}

.genderButton input[type="radio"] {

    appearance: none;
    position: absolute;
    width: 1.77vw;
    height: 1.77vw;
    margin-bottom: 3px;
    border: 1px solid rgba(233, 233, 233, 0.05);
    background: rgba(233, 233, 233, 0.05);
    border-radius: 0.9375vw;

    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.genderButton input[type="radio"]:checked {
    content: url('../../../../../public/settings/check.svg');
    background: #AAFFAD;
    width: 1.6vw;
    height: 1.6vw;
}

.active {
    border: 1px solid #AAFFAD !important;
    color: #AAFFAD !important;
}
.wrong{
    border: 1px solid #FF6565 !important;
    color: #FF6565 !important;
}

.genderButton input[type="radio"]:checked + span {
    color: #AAFFAD; /* Gr  een text when checked */
}

.genderButton span {
    margin-left: 2.6vw;
    transition: color 0.3s ease;
}

.checkboxIcon {
    z-index: 88;
    width: 1.04vw;
    height: 1.04vw;
    border: 2px solid #72ff72;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.checkboxIcon::after {
    content: '\2714';
    display: block;
    width: 0.52vw;
    height: 0.52vw;
    margin: 3px;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.dateField {
    width: 25.625vw;
    height: 3.4375vw;
    flex-shrink: 0;
    border-radius: 18px;
    border: 1px solid rgba(233, 233, 233, 0.05);
    background: rgba(233, 233, 233, 0.05);

    color: rgba(255, 255, 255, 0.60);
    font-family: Onest, sans-serif;
    font-size: 1.04vw;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    padding-left: 0.9375vw;
    padding-right: 0.9375vw;
}

.check {
    background: #FFFFFF;
}
.nextButtons{
    margin: 2.08vw auto;
    display: flex;
    justify-content: center;
    gap: 1.04vw;
    margin-bottom: 0px !important;
}
.nextButtons button{
    width: 13vw;
    height: 2.91vw;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;

    padding: 15px 20px 17px 20px;
    flex-direction: column;
    align-items: center;

    flex-shrink: 0;
    border-radius: 0.9375vw;
    background: #FFF;
    color: #0F0F0F;
    text-align: center;
    font-family: Onest, sans-serif;
    font-size: 1.04vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    border: none;
}
.disableButton{
    border: 1px solid rgba(255, 255, 255, 0.10) !important;
    background: transparent !important;
    color: white !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) opacity(0.6);
    font-size: 24px;
}

/* Для Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
    filter: invert(1) opacity(0.6);
    font-size: 24px;
}

