
.users{
    flex: 2;
    font-size: 30px;
    background: #0f0f0f;
    width: 100%;
    border-radius: 20px;
    overflow-y: auto;
}
.contact{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;

    cursor: pointer;
}
.selected {
    background: #1f1f1f;
    border-radius: 18px;
}
.contact h3{
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    padding-left: 10px;
}
.users img{
    border-radius: 100%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-left: 16px;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 2px 8px rgba(115, 135, 187, 0.5));
}
.dialog{
    flex: 6;
    background-color: #252528;
}
.currentUser{
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0 10px 0;
}
.desc{
    margin-left: 13px;
}
.desc p{
    font-family: "Nunito Sans", serif;
    font-weight: 500;
    font-size: 16px;
    color: #5d5b5a;
    margin: 0;
}
.desc h3{
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

