
.activites {
    color: white;
    text-align: center;
}

.activites h3, .spotlight h3, .sessions h3, .hosts h3 {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'ss01' on;

    font-family: Onest, sans-serif;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 3rem */
    margin-bottom: 0;
    margin-top: 5rem;

}

.spotlightMask {
    border-radius: 120rem;
    background: radial-gradient(50% 50% at 50% 50%, #0C1826 0%, rgba(0, 0, 0, 0.00) 100%);
}

.underHeader {
    color: #FFF;
    text-align: center;
    font-family: Onest, sans-serif;
    font-size: 0.83vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 12px auto 3rem;
}
.activitywidth{
    width: 15.72vw
}
.spotlightWidth{
    width: 29.6875vw;
}
.hostsWidth{

}

.games {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.gameItem img {
    width: 17.7vw;
    height: 10vw;
    border-radius: 1rem;
}

.spotlight {
    text-align: center;
    margin-top: 70px;

}

.spotlight img {
    width: 45vw;
    margin-top: 4rem;
}

.sessions {
    margin-top: 2rem;
}

.sessionsType {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 4rem;
}

.typeItem {
    /*width: 28.8125rem;*/
    /*height: 28.75rem;*/
    width: 24vw;
    height: 24vw;
    flex-shrink: 0;
    border-radius: 1rem;
    background: rgba(233, 233, 233, 0.05);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

/*.typeItem img {*/
/*    !*width: 10.21vw;*!*/
/*}*/
.us {
    width: 9vw;
}

.joint {
    width: 9vw;
}

.alone {
    width: 13.5vw;
}

.typeItem h4 {
    color: #FFF;
    font-feature-settings: 'ss01' on;

    font-family: Onest, sans-serif;
    /*font-size: 2rem;*/
    font-size: 1.6vw;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    margin-top: 2rem;
}

.typeItem p {
    color: #FFF;
    text-align: center;

    font-family: Onest, sans-serif;
    font-size: 0.83vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 2rem 0;
}

.footer {
    color: white;
    width: 47.9vw;
    margin: 0 auto;
}

.footerFlex {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 17.55vw;
    height: 2.96vw;
    margin-top: 1rem;
}

.footerColumns {
    display: flex;
    gap: 9.6875vw;
}

.footerColumns div p {
    color: #FFF;

    font-family: Onest, sans-serif;
    font-size: 0.83vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.underFooter {
    display: flex;
    justify-content: space-between;
    padding-top: 2vw;
    padding-bottom: 1vw;
}

.underFooter p {
    color: #646B72;
    font-family: Onest, sans-serif;
    font-size: 0.83vw;
    font-weight: 400;
}

.mask {
    background: linear-gradient(290deg, #0C1826 0%, #000 25%);
}

.mobileText {
    display: none;
}

@media screen and (max-width: 1000px) {
    .activites h3, .spotlight h3, .sessions h3, .hosts h3 {
        font-size: 1.75rem;
        font-weight: 500;
    }

    .activites p, .spotlight p, .sessions p, .hosts p {
        font-size: 1rem;
        font-weight: 400;
    }

    .gameItem img {
        width: 10.5rem;
        height: 6rem;
        border-radius: 0.5rem;
    }

    .games {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .underHeader {
        width: 19.5rem;
        margin: 0.75rem auto;
    }

    .spotlight {
        text-align: center;
        margin-top: 70px;
    }

    .spotlight img {
        width: 100%;
        margin-top: 4rem;
    }

    .sessionsType {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        margin-top: 4rem;
        flex-wrap: wrap;
    }

    .typeItem {
        width: 22.5625rem;
        height: 24.9375rem;
    }

    .us {
        width: 40%;
    }

    .joint {
        width: 50%;
    }

    .alone {
        width: 65%;
    }

    .typeItem h4 {
        font-size: 1.5rem;
    }

    .typeItem p {
        font-size: 1rem;
    }

    .footer {
        width: 23rem;
    }

    .footerFlex {
        display: flex;
        flex-direction: column;

    }

    .logo {
        width: 11.93931rem;
        height: 2rem;
        margin-bottom: 1rem;
        padding-left: 1rem;
    }

    .footerColumns {
        gap: 3.44rem;
        align-self: center;
    }

    .footerColumns div p {
        font-size: 1rem;
    }

    .underFooter {
        padding-top: 2vw;
        padding-bottom: 1vw;
    }

    .underFooter p {
        font-size: 1rem;
    }

    .mobileText {
        display: block;
        color: #646B72;
        font-family: Onest, sans-serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0 0 2rem;
        padding-left: 1rem;
    }

}
